[submodule "libs/SPIRV-Cross"]
	path = libs/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	branch = sdk-1.3.216.0
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
	branch = 9.0.0
